DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/dbname
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_NEW_ORDERS_TOPIC=new-orders
KAFKA_CONSUMER_GROUP=order-processor
API_HOST=127.0.0.1
API_PORT=8000